/* purgecss start ignore */



.light {
    --primary-100: #EEF0FC;
    --primary-300: #476AE1;
    --primary-400: #476AE1;
    --bg: #fff;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: blue;
    --hr: hsla(0, 0%, 0%, 0.2);

    background-color: var(--bg);
}

.dark {
    -webkit-font-smoothing: antialiased;

    --primary-100: #EEF0FC;
    --primary-300: #476AE1;
    --primary-400: #476AE1;
    --bg: #fff;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: blue;
    --hr: hsla(0, 0%, 0%, 0.2);

    background-color: var(--bg);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';
